<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}"/>
        {% block scripts %}{% endblock %}
        {% block styles %}{% endblock %}
    </head>
    <body class="{%block bodyclass %}{% endblock %}">
        <div id="nav">
            <div id="left_nav" class="nav_item">
                {% block left_navigation %}
                <div class="{% block left_class %}{% endblock %} nav_item">
                    <a href="/" class="{% block homeclass %}{% endblock %}">Home</a>
                </div>
                {% endblock %}
            </div>
            <div id="right_nav" class="nav_item">
                {% block right_navigation %}
                <div class="{% block right_class %}{% endblock %} nav_item">
                    <form id="login_form" action="/login/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input id="login_btn" type="submit" value="Login">
                    </form>
                </div>
                {% endblock %}
            </div>
        </div>

        {% block content %}
        <div id="content" class="content">
            <p> Hello {{username}}, welcome to DeathClock!</p>
        </div>
        {% endblock %}
    </body>
</html>
