<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}"/>
        {% block scripts %}{% endblock %}
        {% block styles %}{% endblock %}
    </head>
    <body class="{%block bodyclass %}{% endblock %}">
        <div id="nav">
            {% block navigation %}
            <ul id="top">
                {% block left_navigation %}
                <li class="{% block left_class %}{% endblock %}">
                    <a href="/" class="{% block homeclass %}{% endblock %}">Home</a>
                </li>
                {% endblock %}
                {% block right_navigation %}
                <li class="{% block right_class %}{% endblock %}">
                    <form id="login_form" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input id="login_btn" type="submit" value="Login">
                    </form>
                </li>
                {% endblock %}
            </ul>
            {% endblock %}
        </div>

        {% block content %}
        <div id="content" class="content">
            <p> Hello {{username}}, welcome to DeathClock!</p>
        </div>
        {% endblock %}

    </body>
</html>
