{% extends "logged_in_base.html" %}

{% block title %} Countdown {% endblock %}

{% block content %}
    <p>Your Life Expectancy</p>
    <p id="countdown"></p>
{% endblock %}

{% block scripts %}

    <script>
        //Set the date we're counting down to
        if ( "{{life_expectancy}}" ) {
            var countDownDate = new Date("{{ life_expectancy.isoformat }}").getTime();
            // Update the count down every 1 second
            var x = setInterval(function() {

                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now an the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var years = Math.floor(distance / (1000 * 60 * 60 * 24 * 365));
                var days = Math.floor((distance % (1000 * 60 * 60 * 24 * 365)) / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                   // Output the result in an element with id="demo"
                document.getElementById("countdown").innerHTML = years + "y " + days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("countdown").innerHTML = "EXPIRED";
                }
            }, 1000);
        } else {
            var countdown = document.getElementById("countdown").innerHTML = "Please take our survey first";
        }

    </script>
{% endblock %}
