{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/site.js' %}'" ></script>
{% endblock %}

{% block right_navigation %}
<div><a href="/test/" class="{% block testclass %}{% endblock %}">Take our Test!</a></div>
<div class="dropdown" onclick="profileImageClick()">
    <img src="{% static 'img/blank-profile-picture.png' %}" alt="profile_pictue" class="profile_picture"/>
    <div id="profile_dropdown_content" class="dropdown_content">
        <a href="profile/">Profile</a>
        <a href="logout/">Log Out</a>
    </div>
</div>

{% endblock %}
