{% extends "base.html" %}
{% load static %}

{% block left_nav %}
<li class="active">
    <a class="nav-link" href="/index/">Survey <span class="sr-only">(current)</span></a>
</li>
<li class="">
    <a class="nav-link" href="/display/">Life Expectancy</a>
</li>
{% endblock %}
{% block right_nav %}
<li class="nav-item">
    <div class="dropdown">
        <img class="dropdown-toggle profile_picture" data-toggle="dropdown" src="{% static 'img/blank-profile-picture.png' %}">
        <ul class="dropdown-menu">
            <li>
                <a href="/profile/">Profile</a>
            </li>
            <li>
                <a href="/logout/">Log Out</a>
            </li>
        </ul>
    </div>
</li>
{% endblock %}
