body {
    background-color: #B6CDE5;
}

#nav {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

#right_nav {
    float: right;
}

.nav_item {
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.profile_picture {
    max-width: 50px;
}

.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown_content a {
    text-decoration: none;
    display: block;
    background: #e4e6e7;
    min-width: 100px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.dropdown_first {
    border-top: 1px solid black;
}

.show {
    display: block;
}
