.profile_picture {
    max-width: 50px;
}

.form-table {
    border-collapse: collapse;
}

.form-table tr td {
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: 1em;
}

.show {
    display: block;
}
